* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Helvetica', serif;
    /*background: rgba(255, 71, 87, 1);*/
    /*background: rgba(110, 104, 104, 1);*/
}
nav {
    width: 100%;
    height: 50px;
    background-color: rgba(166, 48, 109, 1);
    color: white;
}

nav ul {
    padding-top: 15px;
    list-style: none;

}

li {
    display: inline;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;

}

#main {
    text-align: right;

}
#next-btn {
    text-decoration: none;
    color: white;
    background: rgba(110, 104, 104, 1);
    padding: 10px;
    margin-right: 40px;
}

.fa {
    padding-right: 6px;
}

#upload-section {
    position:absolute;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0, 0.1);
    top: 100px;
    left: 200px;
    background: white;
    width: 800px;
    height: 360px;
    display: none;
    color: #363636;
}

#upload-section header {
    height: 50px;
    background:  rgba(166, 48, 109, 1);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#upload-section h2 {
    padding: 10px;
    color: white;
    text-align: center;
}
.upload-div {
    padding: 25px;
}
.upload-div input {
    margin: 10px;
    font-size: 18px;
    padding: 8px;
    border-radius: 4px;
    border: 1px #363636 solid;
    display: block;
}

.upload-div .btn-grp {
    margin-top: 20px;
    display: block;
    text-align: right;
}

.upload-div input[type='file'] {
    display: block;
}

.upload-div input[type='textarea'] {
    width: 600px;
}

.upload-div button {
    padding: 10px;
    color: white;
    border: none;
    font-size: 18px;
}

.upload-div button#upload-btn {
    background-color: green;
}

.upload-div button#cancel-btn {
    background-color: rgba(255, 48, 109, 1);
}


.board {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.image-div {
    background: rgba(255,255,255, 0.5);
    border-radius: 10px;
    padding: 30px 15px;
    height: 400px;
    width: 30%;
    min-width: 200px;
    text-align: center;
    margin: 20px 0;
}

.image-div > * {
    padding-bottom: 10px;
}

.image-div .title {
    text-transform: uppercase;
    font-size: 14px;
    color: gray;
    padding-bottom: 20px;
    height: 40px;
}

figure.thumbnail{
    width: 90%;
    height: 200px;
    margin: 0 auto;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    min-width: 100px;
    max-width: 200px;
    object-fit: cover;
}

.heart {
    text-decoration: none;
}

.heart:hover {
    color: blue;
}

.posted-by {
    font-size: 14px;
    color: #363636;
}

.posted-by span {
    font-weight: bold;
}

.description {
    font-style: italic;
    font-size: 10px;
}

/**** full-image-view styles ****/
.full-image-view {
    width: 97%;
    background: rgba(255,255,255, 0.5);
    border-radius: 10px;
    color: gray;

}
.full-image-view .title {
    color: gray;
    text-transform: uppercase;
    margin: 20px 0;
    text-align: center;
}
.full-image-view figure.large-img {
    width: 95%;
    margin: 0 auto;

}

.full-image-view img {
    width: 100%;
    border-radius: 10px;
}
.full-image-view .image-info {
    margin: 20px 50px;
}

.full-image-view .username,
.full-image-view .likes {
    display: inline;
    margin: 0 30px 0 0;
}

.full-image-view .description {
    margin-top: 20px;
}
.full-image-view a {
    text-decoration: none;
}
.full-image-view p {
    font-size: 24px;
    margin: 8px 0;
}
/*** comment styles ***/
.comment-div {
    background: rgba(166, 48, 109, 0.32);
    border-radius: 10px;
    padding: 30px;
    margin: 10px 50px;
}
.posted_by,
.full-image-view .date {
    color: rgba(166, 48, 109, 1);
    display: inline;
}

.posted_by {
    font-weight: bold;
}
.date {
    float: right;
}

/*** comment form styles ***/
.post-a-comment {
    margin: 10px 50px;

}

.post-a-comment input {
    font-size: 24px;
    padding: 5px 8px;
    margin: 10px 0;
}

.post-a-comment input[type="textarea"] {
    width: 800px;
    height: 40px;
}

.post-a-comment button {
    font-size: 24px;
    background-color: rgba(166, 48, 109, 1);
    color: white;
    border: none;
    padding: 5px 8px;

}
